{{^logged_in}}
			<center>
<img src="http://instahipster.me/images/instahipster.png" class='logo'>
<span class="main_header">Create (totally not mainstream) pictures</span> <br/>
<div class="hipblock">
  <div class="homepic"><div class="homepicin"><img src="http://instahipster.me/images/cover1.jpg" class="homepicimage"></div></div>
  <div class="homepic"><div class="homepicin"><img src="http://instahipster.me/images/cover2.jpg"  class="homepicimage"></div></div>
  <div class="homepic"><div class="homepicin"><img src="http://instahipster.me/images/cover3.jpg"  class="homepicimage"></div></div>
  <div class="homepic"><div class="homepicin"><img src="http://instahipster.me/images/cover4.jpg"  class="homepicimage"></div></div>
  <div style="clear:both;"></div>
  <br><br><br>
  <button id="authenticate" class="whitebutton">Get started</button>

<div style="width:350px;margin-left:auto;margin-right:auto;margin-top:40px;">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fd4bc8b01996b45"></script>
<!-- AddThis Button END -->
</div>

</div>
</center>

{{/logged_in}}

{{#logged_in}}

	<p>
		<a href="logout">log out</a>
	</p>

	<div>
		<button id="hipsterize">hipsterize</button>
	</div>


{{/logged_in}}

