[submodule "system"]
	path = system
	url = git://github.com/synapsestudios/core
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/synapsestudios/orm
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/synapsestudios/database
[submodule "modules/unittest"]
	path = modules/unittest
	url = git://github.com/synapsestudios/unittest
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/synapsestudios/auth
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/synapsestudios/image
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/synapsestudios/pagination
[submodule "modules/codebench"]
	path = modules/codebench
	url = git://github.com/synapsestudios/codebench
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/synapsestudios/userguide
[submodule "modules/jssettings"]
	path = modules/jssettings
	url = git@syn0.com:synmod-jssettings.git
[submodule "modules/errors"]
	path = modules/errors
	url = git@syn0.com:synmod-errors.git
[submodule "modules/notices"]
	path = modules/notices
	url = git@syn0.com:synmod-notices.git
[submodule "modules/email"]
	path = modules/email
	url = git://github.com/synapsestudios/kohana-email.git
[submodule "modules/assets"]
	path = modules/assets
	url = git://github.com/synapsestudios/assets.git
