[submodule "system"]
	path = system
	url = git://github.com/synapsestudios/kohana-core
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/synapsestudios/kohana-orm
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/synapsestudios/kohana-database
[submodule "modules/unittest"]
	path = modules/unittest
	url = git://github.com/synapsestudios/kohana-unittest
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/synapsestudios/kohana-auth
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/synapsestudios/kohana-image
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/synapsestudios/kohana-pagination
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/synapsestudios/kohana-userguide
[submodule "modules/errors"]
	path = modules/errors
	url = git://github.com/synapsestudios/kohana-errors
[submodule "modules/notices"]
	path = modules/notices
	url = git://github.com/synapsestudios/kohana-notices
[submodule "modules/email"]
	path = modules/email
	url = git://github.com/synapsestudios/kohana-email.git
[submodule "modules/acl"]
	path = modules/acl
	url = git://github.com/synapsestudios/kohana-acl.git
[submodule "modules/csrf"]
	path = modules/csrf
	url = git://github.com/synapsestudios/kohana-csrf.git
[submodule "modules/yform"]
	path = modules/yform
	url = git://github.com/synapsestudios/kohana-yform.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/synapsestudios/kohana-kostache
[submodule "modules/media"]
	path = modules/media
	url = git://github.com/synapsestudios/kohana-media.git
[submodule "modules/minion"]
	path = modules/minion
	url = git://github.com/synapsestudios/kohana-minion.git
[submodule "modules/minion-tasks-repo"]
	path = modules/minion-tasks-repo
	url = git://github.com/synapsestudios/minion-tasks-repo.git
[submodule "modules/git"]
	path = modules/git
	url = git://github.com/synapsestudios/kohana-git.git
[submodule "modules/minion-tasks-migrations"]
	path = modules/minion-tasks-migrations
	url = git://github.com/synapsestudios/minion-tasks-migrations.git
[submodule "modules/admin-theme"]
	path = modules/admin-theme
	url = git://github.com/synapsestudios/kohana-admin-theme.git
[submodule "modules/minion-tasks-upgrade"]
	path = modules/minion-tasks-upgrade
	url = git://github.com/synapsestudios/minion-tasks-upgrade.git
[submodule "modules/assets"]
	path = modules/assets
	url = git://github.com/synapsestudios/kohana-assets.git
