<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="generator" content="{{app_version}}">
	<title>{{title}}</title>

[[assets_head]]

</head>
<body id="{{view_name}}">
	<h1>{{title}}</h1>
	{{#notices}}
		<div class="notice {{type}}">{{message}}</div>
	{{/notices}}
	{{>body}}
	[[assets_body]]
</body>
</html>
