<center>
    <a href="/" title="Hipsterize your picture"><img src='http://www.instahipster.me/images/instahipster.png' /></a>
	<div id="screen">
		<img src="{{img}}" id="mainPic">
	</div>
<br>
<!--- thumbnails -->
Obscure props you probably haven't heard of yet.
  <div id="port_thumbs">   
    <div id="thumbContainer">
    <div id="thumbsList">
  <ul id="my-list">
		<li class='tli'>
		<div class="stock clipart thinl">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper">				
				<img src="http://instahipster.me/images/mustache.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart thinl">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper">				
				<img src="http://instahipster.me/images/glasses1.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart thinl">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper" >				
				<img src="http://instahipster.me/images/glasses2.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart thinl">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper">				
				<img src="http://instahipster.me/images/glasses3.png" class="elem-wrapper" />
			</div>
		</div>
		</li>        
		<li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper">				
				<img src="http://instahipster.me/images/hat1.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper">				
				<img src="http://instahipster.me/images/hat2.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper">				
				<img src="http://instahipster.me/images/hat3.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper" >				
				<img src="http://instahipster.me/images/hat4.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
		<li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper" >				
				<img src="http://instahipster.me/images/hat5.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
		<li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper">				
				<img src="http://instahipster.me/images/hat6.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
		<li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper" >				
				<img src="http://instahipster.me/images/hat7.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
		<li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper" >				
				<img src="http://instahipster.me/images/starbucks.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper" >				
				<img src="http://instahipster.me/images/holga.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper" >				
				<img src="http://instahipster.me/images/pbr.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper">				
				<img src="http://instahipster.me/images/scarf1.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper">				
				<img src="http://instahipster.me/images/scarf2.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper">				
				<img src="http://instahipster.me/images/tie1.png" class="elem-wrapper" />
			</div>
		</div>
		</li>
        <li class='tli'>
		<div class="stock clipart">
			<img src="http://instahipster.me/images/close.png" class="ic_x">
			<div class="resizable-wrapper" >				
				<img src="http://instahipster.me/images/vest1.png" class="elem-wrapper" />
			</div>
		</div>
		</li>

	</ul>
    <div style="clear:both;"></div>
    </div>
    </div>

 </div>
 <!-- end thumbnails -->
	<br><br>
	<button onclick="getCoords()" class="whitebutton" id="submit">Done!</button>
</center>