<div>
	<form action="/hipsterize/upload" id="upload_pic" method="post" enctype="multipart/form-data">
		<h2>Upload a new picture</h2>

		<input type="file" name="file" id="file_select"/> <input type="submit" id="submit_btn"/>
	</form>
</div>

<div>

	<h2>or choose an existing picture from your via.me feed</h2>

	{{#viame_pictures}}
		<div class="thumbnails">
			<div class="thumbnail">
				<a href="{{edit_url}}" title="Use this picture!"><img src="{{thumb_url}}" border="0" /></a>
			</div>
		</div>
	{{/viame_pictures}}

</div>