<center>
<img src="http://instahipster.me/images/instahipster.png" class='logo bodylogo'>
<h2 class="doneh">Look at that hipster!</h2>
<div id="content">
	<div id="endPicContainer">
      <img src="{{img_url}}" id="endPic">
      <br>
      <div id="livesHere"><b>Your picture lives here</b><br>
	<input type="text" value="http://instahipster.me/pic/{{img}}" />
	<br><br>
	<a href="/"><span class="whitebutton makeb">Make a new instahipster</span></a>
	<br><br><br>
  </div>
    </div>
<div id="buttonBlock">
 <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="position:absolute; left:0px;top:0px;">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fd472365b12335d"></script>
<!-- AddThis Button END -->

</div>
</div>

</center>